<div class="profile-box">
  <img src="/assets/setting.png" class="setting-icon" />
  <img src="/assets/home.jpg" class="home-icon" />
  <img src="/assets/profile-pic.png" class="profile-pic" />
  <h3>Jacque Neal</h3>
  <p>Web Developer at Codefi</p>
  <div class="other social media">
    <img src="/assets/telegram.png" alt="" />
    <img src="/assets/instagram.png" alt="" />
    <img src="/assets/dribble.png" alt="" />
  </div>
  <button type=" button">Follow</button>
  <div class="profile-bottom">
    <div class="card p-4 mt-2 relative">
      <div class="absolute top-4 left-8 bg-light border-2">
        <span class="material-symbols-outlined p-1 text-3xl"> person </span>
      </div>
      <div class="mt-14 flex justify-center">
        <textarea
          id="postContent"
          name="postContent"
          rows="4"
          class="w-full border border-gray-300 rounded-md focus:outline-none focus:border-dark px-3 py-2 resize-none"
          placeholder="Write your post here..."
        ></textarea>
      </div>
      <div class="mx-auto text-center">
        <button
          type="submit"
          class="mt-2 bg-green text-white py-2 px-4 rounded-md hover:bg-pink hover:text-dark transition-colors duration-300"
        >
          Post
        </button>
      </div>
    </div>
    <img src="" alt="" />
  </div>
</div>
