<!-- navbar.component.html -->

<nav class="flex items-center justify-between bg-dark px-6 py-4 border-b">
  <!-- Project Title (Left side) -->
  <div class="flex items-center">
    <a href="#" class="text-green text-2xl font-semibold font-Josefin hover:scale-110">OurSpace</a>
  </div>

  <!-- Links (Right side) -->
  <div class="flex items-center space-x-6 font-Manrope">
    <a href="/profile" class="text-white hover:text-green hover:scale-110">Profile</a>
    <a href="/login" class="text-white hover:text-green hover:scale-110">Login</a>
  </div>
</nav>
