<nav class="flex items-center justify-between bg-dark px-6 py-2 mx-auto w-screen">
  <div class="flex items-center">
    <a href="#" class="text-green text-2xl font-semibold font-Josefin hover:scale-110">OurSpace</a>
  </div>
  <div class="flex items-center space-x-6 font-Manrope">
    <a href="/profile" class="text-white hover:text-green hover:scale-110"> <span
        class="material-symbols-outlined pr-1 text-3xl text-pink">
        person
      </span></a>
    <a href="/notifications" class="text-white hover:text-green hover:scale-110"> <span
        class="material-symbols-outlined pr-1 text-3xl text-pink">
        notifications
      </span></a>
    <a href="/login" class="text-white hover:text-green hover:scale-110"> <span
        class="material-symbols-outlined pr-1 text-2xl text-pink">
        login
      </span></a>
  </div>
</nav>
